.overview {
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    &_left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .cards {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #fdfdfd;
  border-radius: 1rem;
  border: 0.1rem solid #eaeaea;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    display: block;
  }

  .chart {
    padding: 1.5rem;

    &:first-child {
      border-right: 0.1rem solid #eaeaea;

      @media screen and (max-width: 768px) {
        border-right: unset;
        border-bottom: 0.1rem solid #eaeaea;
      }
    }
  }
}

.recent_activity {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Tanker";

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media screen and (max-width: 500px) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .activity_type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;

    .activity_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.1rem solid #e2e4e9;
      border-radius: 50%;

      svg {
        width: 1.5rem;
      }
    }
  }
}

.mobile_activity_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;

  .first_row,
  .second_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }
}
