.overview {
  position: relative;

  .cards {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.company_insights {
  position: relative;
}

.charts {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media screen and (max-width: 768px) {
    display: block;
  }

  .bar_charts {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}

.concern_section {
  border-radius: 1rem;
  padding: 1.5rem;
  background: #f6f8fa;

  @media screen and (max-width: 768px) {
    margin: 2rem 0;
  }
}

.concern_card {
  border-radius: 1rem;
  overflow: hidden;
  border: 0.12rem solid transparent;
  margin: 0.5rem 0;

  &.high {
    border-color: #ff383c24;

    .concern_header {
      background: #ff383c33;
      padding: 1rem;
      font-size: 1rem;
      color: #ab2a2c;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .content {
      background: #ff383c0d;
      padding: 1rem;
      color: #2a2a2a;
      font-weight: 500;
    }
  }

  &.medium {
    border-color: #ffb93824;

    .concern_header {
      background: #ffb33833;
      padding: 1rem;
      font-size: 1rem;
      color: #ab7a2a;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .content {
      background: #ff383c0d;
      padding: 1rem;
      color: #2a2a2a;
      font-weight: 500;
    }
  }

  &.low {
    border-color: #94949424;

    .concern_header {
      background: #94949433;
      padding: 1rem;
      font-size: 1rem;
      color: #525252;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .content {
      background: #a6a6a60d;
      padding: 1rem;
      color: #2a2a2a;
      font-weight: 500;
    }
  }
}

.company_profile_traffic {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Tanker";
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .activity_type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;

    .activity_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.1rem solid #e2e4e9;
      border-radius: 50%;

      svg {
        width: 1.5rem;
      }
    }
  }
}
