.overview {
  position: relative;
}
.overview .cards {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .overview .cards {
    flex-direction: column;
  }
}

.company_insights {
  position: relative;
}

.charts {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media screen and (max-width: 768px) {
  .charts {
    display: block;
  }
}
.charts .bar_charts {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.charts .bar_charts .chart {
  background: #fdfdfd;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid #eaeaea;
}

.concern_section {
  border-radius: 1rem;
  padding: 1.5rem;
  background: #f6f8fa;
}
@media screen and (max-width: 768px) {
  .concern_section {
    margin: 2rem 0;
  }
}

.concern_card {
  border-radius: 1rem;
  overflow: hidden;
  border: 0.12rem solid transparent;
  margin: 0.5rem 0;
}
.concern_card.high {
  border-color: rgba(255, 56, 60, 0.1411764706);
}
.concern_card.high .concern_header {
  background: rgba(255, 56, 60, 0.2);
  padding: 1rem;
  font-size: 1rem;
  color: #ab2a2c;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.concern_card.high .content {
  background: rgba(255, 56, 60, 0.0509803922);
  padding: 1rem;
  color: #2a2a2a;
  font-weight: 500;
}
.concern_card.medium {
  border-color: rgba(255, 185, 56, 0.1411764706);
}
.concern_card.medium .concern_header {
  background: rgba(255, 179, 56, 0.2);
  padding: 1rem;
  font-size: 1rem;
  color: #ab7a2a;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.concern_card.medium .content {
  background: rgba(255, 56, 60, 0.0509803922);
  padding: 1rem;
  color: #2a2a2a;
  font-weight: 500;
}
.concern_card.low {
  border-color: rgba(148, 148, 148, 0.1411764706);
}
.concern_card.low .concern_header {
  background: rgba(148, 148, 148, 0.2);
  padding: 1rem;
  font-size: 1rem;
  color: #525252;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.concern_card.low .content {
  background: rgba(166, 166, 166, 0.0509803922);
  padding: 1rem;
  color: #2a2a2a;
  font-weight: 500;
}

.company_profile_traffic {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;
}
.company_profile_traffic .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.company_profile_traffic .header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Tanker";
}
.company_profile_traffic .header .controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.company_profile_traffic .activity_type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #666;
}
.company_profile_traffic .activity_type .activity_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #e2e4e9;
  border-radius: 50%;
}
.company_profile_traffic .activity_type .activity_icon svg {
  width: 1.5rem;
}/*# sourceMappingURL=CompanInsights.module.css.map */