.admin_layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 600px) {
    height: unset;
    width: 100%;
    display: block;
    grid-template-columns: unset;
  }

  .side_nav_area {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #e8feb0;
      border-radius: 1rem;
    }
  }

  .main_content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media screen and (max-width: 600px) {
      height: unset;
    }

    .content_area {
      flex: 1;
      padding: 1rem;
      overflow-y: auto;
    }
  }
}
