.side_bar_section {
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;

  .title {
    font-size: 0.875rem;
    font-weight: 500;
    color: #bebebe;
    text-transform: uppercase;
  }

  ul {
    position: relative;
    width: 100%;

    li {
      display: block;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 0;
        width: 100%;
        font-size: 1rem;
        // font-weight: 500;
        color: #737373;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease-in-out;

        &:hover div span {
          color: #708b2e;
        }

        &:hover svg path {
          fill: #708b2e;
        }

        div {
          display: flex;
          align-items: center;
          gap: 0.7rem;

          span {
            display: block;
            color: var(--active-color);
          }
        }
      }

      .child_list {
        padding-left: 1.5rem;

        .child {
          padding: 0.7rem 1rem;

          &.active {
            border-radius: 0.5rem;
            background: #e8feb0;
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              height: 100%;
              width: 0.3rem;
              left: 0;
              bottom: 0;
              position: absolute;
              background: #708b2e;
            }
          }
        }
      }
    }
  }
}

.side_bar {
  position: relative;
  border-right: 0.1rem solid #eaeaea;
  padding: 1rem;

  @media screen and (max-width: 600px) {
    border-right: unset;
    position: fixed;
    left: 0;
    top: 0;
    background: #00000041;
    backdrop-filter: blur(5px);
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 0;

    .container {
      background: #ffffff;
      width: 50%;
      height: 100%;
      padding: 1rem;
    }
  }

  .logo_container {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
      width: 7rem;
      height: 2rem;
    }
  }
}
