.overview {
  position: relative;

  .cards {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.charts {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: #fdfdfd;
  border-radius: 1rem;
  border: 0.1rem solid #eaeaea;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    display: block;
  }

  .chart {
    padding: 1.5rem;

    &:first-child {
      border-right: 0.1rem solid #eaeaea;

      @media screen and (max-width: 768px) {
        border-right: unset;
        border-bottom: 0.1rem solid #eaeaea;
        overflow: auto;
      }
    }
  }
}

.pie_charts {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: 0.1rem solid #e2e4e9;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1;

  @media screen and (max-width: 768px) {
    display: block;
    padding: 1rem;
  }

  .pie {
    flex: 1;

    &:last-child {
      border-left: 0.1rem solid #e2e4e9;
      padding-left: 2rem;

      @media screen and (max-width: 768px) {
        border-left: unset;
        border-top: 0.1rem solid #e2e4e9;
        padding-left: unset;
        padding-top: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

.recent_activity {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Tanker";

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media screen and (max-width: 500px) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .activity_type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;

    .activity_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.1rem solid #e2e4e9;
      border-radius: 50%;

      svg {
        width: 1.5rem;
      }
    }
  }
}

.mobile_activity_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;

  .first_row,
  .second_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }
}
