.page_layout {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      width: 100%;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media screen and (max-width: 600px) {
        width: 100%;
        justify-content: space-between;
      }
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media screen and (max-width: 600px) {
        width: 100%;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
  }
}
