.primary {
  background-color: #ccfc54;
  color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  height: 3rem;
  font-weight: 600;
  border: 1px solid;
  border-radius: 0.7rem;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 0px 1px #ccfc54;
  box-shadow: 0px 1px 2px 0px #0e121b3d;

  &:hover {
    filter: brightness(0.97);
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background: #f7f7f7;
  box-shadow: unset;
  color: #d1d1d1;

  &:hover {
    filter: none;
  }
}

.secondary {
  background-color: #f6f8fa;
  color: #525866;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: fit-content;
  white-space: nowrap;

  &:hover {
    filter: brightness(0.97);
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
